.tab_box {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px #999;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.tab_title {
    width: 95%;
    height: 20%;
    border-bottom: 1px solid #eeeeee;
    display: flex;
}

.tab_title_item {
    height: 100%;
    width: 90px;
    font-size: 14px;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tab_title_checked {
    border-bottom: 1px solid #fc930c;
    color: #fc930c;
}

.tab_content {
    width: 95%;
    height: 80%;
}

.tab_content_page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab_page_checked{
}